body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  header {
    background-color: #b31b1b;
    color: #333;
    text-align: center;
    padding: 1em 0;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  section{
    color: #fff;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #projects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .project {
    flex: 1 1 calc(33.333% - 10px);
    background-color: #b31b1b;
    padding: 20px;
    text-align: center;
  }
  
  .show-photo {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  #photo-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
  }
  
  #modal-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }
  
  .close-modal {
    background-color: #fff;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  .letter-spacing-example {
    letter-spacing: 1px;
  }
  .line-height-example {
    line-height: 1.5;
  }